<h1>hello <%= current_user.email %></h1>
<h1>what we got so far</h1>

<div class="row">
  <div class="span12">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
</div>

<div class="row-fluid">
  <% @days.each_with_index do |day, day_number| %>
    <div id="<%= day.day %>" class="row-fluid day">
      <h1 class="page-header"><small><%= day.day %></small></h1>
      <% @times.each do |time| %>
        <% teachers = ScheduledClass.get_by_day_and_time( day.day, time.time ) %>
        <% teachers.each do |teacher| %>
          <% if teacher != nil %>
            <div class="class well span2">
              <em class="time"><%= time.time %></em>
              <p class="name"><%= teacher.shihan.name_en %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <% @days.each_with_index do |day, day_number| %>
            <li <% if day_number == 0 %>class="active" <% end %>>
              <a href="#<%= day.day %>"><%= day.day %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
