<div class="row-fluid">
  <div class="offset1 span4">
    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <legend>Resend unlock instructions</legend>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <div><%= f.submit "Resend unlock instructions", :class => 'btn btn-primary' %></div>
    <% end %>

    <%= render "links" %>
  </div>
</div>
