<%= form_for(@scheduled_class) do |f| %>
  <% if @scheduled_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_class.errors.count, "error") %> prohibited this scheduled_class from being saved:</h2>

      <ul>
      <% @scheduled_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
