<h1>Listing scheduled_classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Type</th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scheduled_classes.each do |scheduled_class| %>
  <tr>
    <td><%= scheduled_class.name %></td>
    <td><%= scheduled_class.time %></td>
    <td><%= scheduled_class.type %></td>
    <td><%= scheduled_class.day %></td>
    <td><%= link_to 'Show', scheduled_class %></td>
    <td><%= link_to 'Edit', edit_scheduled_class_path(scheduled_class) %></td>
    <td><%= link_to 'Destroy', scheduled_class, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scheduled class', new_scheduled_class_path %>
